<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- * Line of code below is for the logo of the school, check it on the tab portion -->
    <link rel="shortcut icon" href="/public/assets/logo.ico" type="image/x-icon" />

    <!----======== CSS ======== -->
    <link rel="stylesheet" type="text/css" href="/public/assets/dashboard.css" />

    <!----===== Boxicon ===== -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <title>Mary JV's School</title>
</head>

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="/public/assets/logo.png" alt="School logo" title="Mary JV's School" />
            </div>

            <span class="logo_name">Mary JV'S School</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="/dashboard">
                        <i class="bx bxs-dashboard" style="color: #ffffff"></i>
                        <span class="link-name">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/userinfo">
                        <i class="bx bx-id-card" style="color: #ffffff"></i>
                        <span class="link-name">User Information</span>
                    </a>
                </li>
                <li>
                    <a href="/announcements">
                        <i class="bx bxs-news" style="color: #ffffff"></i>
                        <span class="link-name">Announcements</span>
                    </a>
                </li>
                <li>
                    <a href="/notifications">
                        <i class="bx bx-notification" style="color: #ffffff"></i>
                        <span class="link-name">Notifications</span>
                    </a>
                </li>
                <li>
                    <a href="/calendar">
                        <i class="bx bx-calendar-event" style="color: #ffffff"></i>
                        <span class="link-name">Calendar</span>
                    </a>
                </li>
            </ul>

            <ul class="logout-mode">
                <li>
                    <a href="/logout">
                        <i class="uil uil-signout" style="color: #ffffff"></i>
                        <span class="link-name">Logout</span>
                    </a>
                </li>

                <!-- <li class="mode">
                    <a href="#">
                        <i class='bx bx-moon' style='color:#ffffff'></i>
                        <span class="link-name">Dark Mode</span>
                    </a>

                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li> -->
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here..." />
            </div>

            <img src="/public/assets/Boy.png" alt="" title="<%= username %>" />
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <span class="text">Hello <%= username %></span>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-comments"></i>
                        <span class="text">Subject</span>
                        <span class="number">Subject</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-comments"></i>
                        <span class="text">Subject</span>
                        <span class="number">Subject</span>
                    </div>
                    <div class="box box3">
                        <i class="uil uil-comments"></i>
                        <span class="text">Subject</span>
                        <span class="number">Subject</span>
                    </div>
                </div>
            </div>

            <div class="dash-content">
                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-comments"></i>
                        <span class="text">Subject</span>
                        <span class="number">Subject</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-comments"></i>
                        <span class="text">Subject</span>
                        <span class="number">Subject</span>
                    </div>
                    <div class="box box3">
                        <i class="uil uil-comments"></i>
                        <span class="text">Subject</span>
                        <span class="number">Subject</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/public/dashboard.js"></script>
</body>

</html>