<%- include('layout/userdash_header.ejs') %>

    <body id="user_profile">
        <div class="container py-5">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: 0.5rem">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white bg-info bg-gradient">
                                <!-- The image below is sample only, we will get the save image from database to display on this -->
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="Avatar" class="img-fluid my-5" style="width: 80px" />
                                <!-- The value of name will come from the database -->
                                <h5>John Doe</h5>
                                <!-- The value of role will come from database -->
                                <p>Student</p>
                                <!-- The value of student No. will come from database -->
                                <p>Student No. 123456</p>

                                <!-- Button to trigger modal -->
                                <a href=""><i class="far fa-edit mb-5 text-success fa-2x" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop"></i></a>

                                <!-- Need to fix the modal, it is not currently working right now -->
                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop" data-mdb-backdrop="static" data-mdb-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-danger" id="staticBackdropLabel">Update information</h5>
                                                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body p-4">
                                                <form action="" method="">
                                                    <!-- Mobile input -->
                                                    <div class="form-outline mb-4">
                                                        <input type="tel" id="mobile1" class="form-control" />
                                                        <label class="form-label" for="mobile1">Mobile No.</label>
                                                    </div>

                                                    <!-- password input -->
                                                    <div class="form-outline mb-4">
                                                        <input type="password" id="password1" class="form-control" />
                                                        <label class="form-label" for="password1">Password</label>
                                                    </div>

                                                    <!-- Update button -->
                                                    <button type="menu" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6>Information</h6>
                                    <hr class="mt-0 mb-4" />
                                    <div class="row pt-4">
                                        <div class="col-6 mb-3">
                                            <h6>Grade / Level</h6>
                                            <p class="text-muted">Kinder</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Section</h6>
                                            <p class="text-muted">Joyful</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Mobile No.</h6>
                                            <p class="text-muted">123 456 789</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <a href="#">
                                                <h6>Password</h6>
                                            </a>
                                            <p class="text-muted"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('layout/userdash_footer.ejs') %>
    </body>