<%- include('layout/userdash_header') %>
    <!-- ! Need to do the cards for the dashboard
        ! In the cards, we will have the student's subjects -->

    <div class="container mt-3">
        <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <img src="/public/assets/images/filipino1.jpg" alt="Filipino" class="card-img-top" />
                    <h5 class="card-header text-success fw-bold">Filipino</h5>
                    <div class="card-body">
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, eveniet.</p>
                        <a href="#" class="btn btn-primary">Lessons</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <img src="/public/assets/images/english.jpg" alt="English" class="card-img-top" />
                    <h5 class="card-header text-success fw-bold">English</h5>
                    <div class="card-body">
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, eveniet.</p>
                        <a href="#" class="btn btn-primary">Lessons</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <img src="/public/assets/images/math.jpg" alt="Math" class="card-img-top" />
                    <h5 class="card-header text-success fw-bold">Math</h5>
                    <div class="card-body">
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, eveniet.</p>
                        <a href="#" class="btn btn-primary">Lessons</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <img src="/public/assets/images/reading_phonics1.jpg" alt="Reading and Phonics" class="card-img-top" />
                    <h5 class="card-header text-success fw-bold">Reading and Phonics</h5>
                    <div class="card-body">
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, eveniet.</p>
                        <a href="#" class="btn btn-primary">Lessons</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('layout/userdash_footer') %>