@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Noto+Sans|Open+Sans:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    border-radius: 5px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    justify-content: center;
    background-image: url(images/images/truck.jpg);
    background-size: cover;
    background-blend-mode: luminosity;
    background-position: center;
    /* *I also added the following codes below */
    color: #1b1b32;
    margin: 0;
}

.container {
    position: relative;
    min-width: 400px;
    /*  background: #00dbde; */
    padding: 60px 40px;
    /* *I added the height value, this is not final */
    max-height: 60vh;
    background-blend-mode: luminosity;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    margin: auto;
    /* background-color: rgba(0, 0, 0, 0.5); */
    box-shadow: inset -5px -5px;
    border-radius: 25px;
}


/* *css for logo and navbar */

header {
    width: 100%;
    height: 125px;
    background-color: #1b1b32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

#logo {
    /* min-width: 15%; */
    width: max(100px, 18vw);
    background-color: #1b1b32;
    height: 100%;
    display: flex;
    box-shadow: #1b1b32 inset;
    aspect-ratio: 35 / 4;
    padding: 0.4rem;
}

h1 {
    color: #f1be32;
    font-size: min(5vw, 1.6em);
}

nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
}

nav>ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav>ul>li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

nav>ul>li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
}

li>a {
    color: inherit;
    text-decoration: none;
}


/* *This is the end of the line that I create/update styling */

.input-field,
form .button {
    margin: 25px 0;
    position: relative;
    height: 50px;
    width: 100%;
}

.input-field input {
    height: 100%;
    width: 100%;
    border: 1px solid silver;
    padding-left: 15px;
    outline: none;
    font-size: 19px;
    transition: .4s;
}

input:focus {
    border: 1px solid #1DA1F2;
}

.input-field label,
span.show {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input-field label {
    left: 15px;
    pointer-events: none;
    color: grey;
    font-size: 18px;
    transition: .4s;
}

span.show {
    right: 20px;
    color: #111;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    /* !The user-select code is not supported by Safari, Safari on iOS. You can just ignore it. It does not affect the overall of codes */
    visibility: hidden;
    font-family: 'Open Sans', sans-serif;
}

input:valid~span.show {
    visibility: visible;
}

input:focus~label,
input:valid~label {
    transform: translateY(-33px);
    background: white;
    font-size: 16px;
    color: #1DA1F2;
}

form .button {
    /* margin-top: 30px; */
    margin-top: 100px;
    overflow: hidden;
    z-index: 111;
}

.button .inner {
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    z-index: -1;
    transition: all .4s;
    background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
}

.button:hover .inner {
    left: 0;
}

.button button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.container .auth {
    margin: 35px 0 20px 0;
    font-size: 19px;
    color: grey;
}

.links {
    display: flex;
    cursor: pointer;
}

.links i {
    font-size: 23px;
    line-height: 40px;
    margin-left: -90px;
}

.links span {
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    padding-left: 8px;
    font-family: 'Open Sans', sans-serif;
}

.signup {
    margin-top: 50px;
    font-family: 'Noto Sans', sans-serif;
}

.signup a {
    color: #3498db;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}